<h1 style="color: darkgreen">Sondaj</h1>
<hr />
@{
    ViewData["Title"] = "Politica de confidențialitate";
}
<h4 style="color: darkblue">@ViewData["Title"]</h4>
<p style="text-align: justify">Prezenta politică a fost redactată luând in considerare aspectele stabilite de prevederile legislației europene si naționale în vigoare, respectiv Regulamentul General privind Protectia Datelor (UE) 679/2016 („GDPR”), Legea 190/2018 privind măsuri de punere în aplicare a GDPR și/sau cu orice alte decizii pe care le poate emite Autoritatea Națională de Supraveghere a Protecției Datelor cu Caracter Personal (ANSPDCP) în calitate de autoritate de supraveghere privind protecția datelor cu caracter personal.</p>


